<div class="header-new">
  <div class="logo">{{ section.settings.text }}</div>
  <div class="menu">
    {% for link in linklists['main-menu'].links -%}
      {{ link.title | link_to: link.url }}
    {%- endfor %}
  </div>
  <div class="actions">actions</div>
</div>

{% style %}
  .header-new {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    max-width:1200px;
    margin:auto;
    padding:20px 40px;
  }

  .header-new .logo {
    grid-area: 1 / 1 / 2 / 4;
  }
  .header-new .menu {
    grid-area: 1 / 10 / 2 / 13;
  }
  .header-new .actions {
    grid-area: 1 / 4 / 2 / 10;
  }
{% endstyle %}

{% schema %}
{
  "name": "Custom section",
  "settings": [
    {
      "type": "text",
      "id": "text",
      "label": "Logo Text",
      "default": "Exclusive"
    }
  ],
  "presets": [{ "name": "Default custom section" }],
  "tag": "header"
}
{% endschema %}
